<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title><h1>Predict Laptop Price (Euros) using ML Model</h1></title>
</head>

<body>
    <form action="/predict" method="post">
        <label for="RAM">RAM:</label>
        <input type="number" name="ram" id="RAM" required>
        <br>

        <label for="weight">weight:</label>
        <input type="text" inputmode="decimal" pattern="[0-9]*[.,]?[0-9]*" name="weight" id="weight" required>
        <br>

        <label for="PrimaryStorage">Primary storage amount (gb):</label>
        <input type="number" name="PrimaryStorage" id="PrimaryStorage" required>
        <br>

        <button type="submit">Predict</button>
    </form>
</body>

</html>